# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.log
logs/

# Monorepo / Frontend
plugin/dist/
api-explorer/dist/
frontend/dist/
release/
.vite/
dist/
node_modules/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# MO2 specific
*.bak

# Dependencies
flask_lib/

mod_metadata.json
